#cookie {
    max-width: 120px;
    width: 100%;
    display: table;
    margin: 0 auto;
    cursor: pointer;
}
p{
    text-align: center;
    color: white;
}
html{
    background-image: url("../img/IwWBH3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#upgradeClickButton{
    display: table;
    margin: 0 auto;
    font-size: 24px;
    border: none;
    color: white;
    background-color: chartreuse;
    cursor: pointer;
    transition: .2s ease;
}
#upgradeClickButton:hover{
    transform: scale(1.3);
}